* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4fff4;
    color: #333;
}


/* NAVIGATION */

header {
    background-color: #14532d;
    padding: 18px 7%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #86efac;
}


/* HERO */

.hero {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background:
        linear-gradient(rgba(0, 70, 30, 0.7),
        rgba(0, 70, 30, 0.7)),
        url("https://images.unsplash.com/photo-1500382017468-9049fed747ef");

    background-size: cover;
    background-position: center;
}

.hero-content {
    color: white;
    max-width: 700px;
    padding: 30px;
}

.hero h1 {
    font-size: 55px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.button {
    display: inline-block;
    background-color: #22c55e;
    color: white;
    padding: 14px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.button:hover {
    background-color: #15803d;
}


/* SECTIONS */

.section {
    padding: 70px 8%;
    text-align: center;
}

.section h2 {
    font-size: 35px;
    color: #14532d;
    margin-bottom: 30px;
}

.light {
    background-color: #dcfce7;
}

.intro {
    max-width: 800px;
    margin: auto;
    font-size: 18px;
    line-height: 1.8;
}


/* CARDS */

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    width: 250px;
    padding: 30px 20px;
    border-radius: 15px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);

    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

.card h3 {
    color: #166534;
    margin: 15px 0;
}

.card p {
    line-height: 1.6;
}

.emoji {
    font-size: 50px;
}


/* FARMER TIPS */

.tips-box {
    max-width: 700px;
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 15px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12);

    text-align: left;
}

.tips-box p {
    font-size: 18px;
    margin: 15px 0;
}


/* CONTACT */

.contact {
    background-color: #ecfdf5;
}

form {
    max-width: 550px;
    margin: auto;
}

input,
textarea {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    border: 1px solid #aaa;
    border-radius: 7px;
    font-size: 16px;
}

textarea {
    height: 130px;
}

button {
    background-color: #15803d;
    color: white;
    border: none;
    padding: 14px 30px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #166534;
}


/* FOOTER */

footer {
    background-color: #14532d;
    color: white;
    text-align: center;
    padding: 20px;
}


/* MOBILE */

@media (max-width: 768px) {

    nav {
        flex-direction: column;
        gap: 15px;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero h1 {
        font-size: 40px;
    }

    .section {
        padding: 50px 5%;
    }
}